@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$font-base;
}

body {
  background-color: variables.$color-background;
  color: variables.$color-text;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-left: variables.$sp-sm;
  padding-right: variables.$sp-sm;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
